<! DOCTYAPE html>
<html>
  <head>
      <title>index_page</title>
      <%= stylesheet_link_tag "menu", "data-turbo-track": "reload" %>
  </head>
    <header>
        <h2>サッカー総合サイト</h2>
        <div>
    <ul id="nav">
        <a>ホーム</a>
        <button>フテラ</button>
        <button>掲示板</button>
        <button>記事</button>
        <button>ショップ</button>
        <button>ログイン</button>
    </ul>
</div>
</header>
<div id="t1">
</div>
</html>
