#nav {
   list-style: none;
   over-flow: hidden;
}

a:hover {
    color: white;
    background-color: black;
}

a {
    color: black;
    background-color: silver;
    background-size: cover;
    text-decoration: none;
    border: none;
    font-size: 20px;
}

.shadow {
    text-shadow: 1px 1px 2px silver;
    font-weight: bold;
}
