<! DOCTYAPE html>
<html>
  <head>
      <title>index_page</title>
      <%= stylesheet_link_tag "index", "data-turbo-track": "reload" %>
  </head>
    <header>
        <h2>サッカー総合サイト</h2>
        <div>
    <ul id="nav">
        <button onmouseover="document.getElementById('t1').innerHTML += 'Coming Soon'">ホーム</button>
        <button>フテラ</button>
        <ul>
            <li>Coming Soon...</li>
            <li>Coming Soon...</li>
            <li>Coming Soon...</li>
         </ul>
        <button>掲示板</button>
        <button>記事</button>
        <button>ショップ</button>
        <button>ログイン</button>
    </ul>
</div>
</header>
<div id="t1">
</div>
</html>
